<div class="page-header">
    <div class="container">
        <h1>Students</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs">
        <div class="col-xs-12">
            <input matInput class="search-input"
            placeholder="Search Students"
             [(ngModel)]="filterString"
             (keyup)="filterStudents()">
        </div>
        
    </div>
    <div class="mt-1 mat-elevation-z8">
        <mat-table matSort #table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
            </ng-container>
        
            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>
            
            <!-- Date of Birth Column -->
            <ng-container matColumnDef="dateOfBirth">
                <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'dd-MM-yyyy'}} </mat-cell>
            </ng-container>
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <!-- Mobile Column -->
            <ng-container matColumnDef="mobile">
                <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
            </ng-container>
            <!-- gender Column -->
            <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.gender.description}} </mat-cell>
            </ng-container>
             <!-- Edit Column -->
             <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <a [routerLink]="['/students',element.id]" routerLinkActive="router-link-active" >
                        <mat-icon color="primary">edit</mat-icon>
                    </a>
                    
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
                [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [showFirstLastButtons]="true">
          </mat-paginator>
    </div>
</div>